footer {
    margin: 0px 4%;
    color: #808080;
    width: 60%;
    margin: 5% auto 4% auto;
    font-family: sans-serif;
}
.contact i {
    font-size: 1.8vw;
    margin: 2% 1.3vw;
}
table {
    width: 100%;
    margin: auto;
}
td {
    font-size: 1vw;
    padding: 1% 4%;
    width: 25%;
}
#code {
    border: 0.1vw solid #808080;
    width: fit-content;
    padding: 0.3vw;
    font-size: 0.9vw;
    margin: 2vw 4%;
}
#info {
    font-size: 0.9vw;
    margin: 2vw 4%;
}   